<div class="container">

    <div class="card shadow my-2">
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">

                <div class="form-group">
                    <label for="exampleFormControlFile1">Tipo De Tributo</label>
                    <select #tipoImp formControlName="tipoImpuesto" (change)="aplicarMascara(tipoImp.value)" [class.is-invalid]="tipoInpuestoInvalid"
                        class="form-control">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let tipo of tipoImpuesto" value="{{tipo.descripcion}}">{{tipo.descripcion}} - {{tipo.leyenda}}</option>
                    </select>
                    <small *ngIf="tipoInpuestoInvalid" class="text-danger">Debe seleccionar un tipo</small>
                </div>

                <div class="form-group">
                    <label for="inputImp">Identificación Del Tributo</label>
                    <input #idImpuesto formControlName="identificacion" [placeholder]="idImpuestoPlaceHolder" [maxlength]="idImpuestoMaxLength" class="form-control"
                        id="inputImp" aria-describedby="emailHelp">
                    <small *ngIf="showMensaje && !identificacionInvalid" id="emailH" class="text-secondary">Motos antiguas, ejemplo patente: 111aaa deben colocar 2 ceros a la izquierda del número</small>
                    <small *ngIf="identificacionInvalid" id="emailHelp" class="text-danger">La Identificación es obligatoria </small>
                </div>
                
                <button *ngIf="!isLoading" type="submit" class="btn btn-primary float-right">Consultar</button>

                <!-- spinner -->
                <div *ngIf="isLoading" class="spinner-border text-secondary float-right" role="status">
                    <span class="sr-only">Cargando...</span>
                </div>
            </form>

        </div>
    </div>

    <div *ngIf="mensaje" class=" my-2">
      
        <div [ngClass]="numero > 0 ? 'alert alert-success' : 'alert alert-warning'"  class="alert alert-success" role="alert">
           {{mensaje}}
        </div>
      
    </div>

    
</div>